/* Add CSS theme overrides here. */
table {
	display: block;
	overflow-x: auto;
}

.feature-date {
	font-size: 16px;
	color: #555;
}

.heading--auxiliary-custom {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.625;
    margin: .75em 0 .25em;
    padding: 0;
    color: #002855;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1.13043;
    color: #335377;
    margin-bottom: .5em;
    color: #667e99;
    font-style: italic;
    font-weight: 700;
}
