{% extends "node--teaser.html.twig" %}

{% block content %}

{% if content.field_sf_person_reference | render %}
<p><strong>Project lead: </strong>{{  content.field_sf_person_reference  }}</p>
{% endif %}

<div{{ content_attributes.addClass('vm-teaser__summary') }}>
    {{ content|without(
      'field_sf_article_type',
      'field_sf_article_category',
      'field_sf_primary_image',
      'field_sf_person_reference',
      'field_sf_tags',
      'field_website',
      'body'
    ) }}
  </div>

{% if content.field_website | render %}
<p>{{  content.field_website  }}</p>
{% endif %}

{% endblock %}
